---

export const prerender = true;

import { CircleX } from "@lucide/astro";
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Login Error | Air War Trail">

  <div
    class="flex size-16 flex-col items-center justify-center rounded-full bg-red-500 p-3"
  >
    <CircleX class="size-16 text-white" />
  </div>
  <h1 class="text-4xl font-bold">Login Error</h1>
  <p class="text-muted-foreground">
    An error occurred resetting password. The login link is either invalid
    or expired.
  </p>
  <a href="/auth/forgot-password">
    <Button size="lg">Retry Login</Button>
  </a>

</BaseLayout>
