---


import slide1 from "@/assets/static/slideshow/452bg0078-topaz-face.avif";
import slide2 from "@/assets/static/slideshow/aero-club-topaz-face.avif";
import slide3 from "@/assets/static/slideshow/bikes3-topaz-face.avif";
import slide4 from "@/assets/static/slideshow/children-at-table-71101-topaz.avif";
import slide5 from "@/assets/static/slideshow/IMG_8276-topaz.avif";
import slide6 from "@/assets/static/slideshow/IMG_8381-topaz.avif";
import slide7 from "@/assets/static/slideshow/IMG_8397-topaz.avif";
import slide8 from "@/assets/static/slideshow/norris_crewi-topaz.avif";
import { SlideShow } from "@/components/partials/SlideShow";

// Define slides array here
const slides = [
  {
    image: slide1.src,
    alt: "Airwar Trail Slide 1",
  },
  {
    image: slide2.src,
    alt: "Airwar Trail Slide 2",
  },
  {
    image: slide3.src,
    alt: "Airwar Trail Slide 3",
  },
  {
    image: slide4.src,
    alt: "Airwar Trail Slide 4",
  },
  {
    image: slide5.src,
    alt: "Airwar Trail Slide 5",
  },
  {
    image: slide6.src,
    alt: "Airwar Trail Slide 6",
  },
  {
    image: slide7.src,
    alt: "Airwar Trail Slide 7",
  },
  {
    image: slide8.src,
    alt: "Airwar Trail Slide 8",
  },
];
---

<div class="mx-auto overflow-hidden px-4 py-10 sm:px-6 lg:px-8">
  <div class="mx-auto space-y-4 text-center">
    <h1 class="block text-3xl font-bold sm:text-4xl md:text-5xl">
      Our Mission
    </h1>
    <p class="text-accent-foreground text-justify">
      The podcast, documentaries, interviews, and images bring the voices alive
      from those who experienced World War II in an up close and personal way.
      These are their stories, when freedom stood in the balance and a
      generation of the free made a difference in the world.
    </p>
    <p class="text-accent-foreground text-justify">
      In 2002 Military Historian and Producer/Director Vernon L. Williams
      established the East Anglia Air War Project with a mission to document the
      American air war against the German empire in the ETO. For twenty-three
      years, Dr. Williams has traveled across the United States interviewing
      ground and air crews who served in wartime England during the Second World
      War.
    </p>
    <p class="text-accent-foreground text-justify">
      Meanwhile, Williams made countless trips to England and searched out
      British family members who lived in the villages around the airfields
      across East Anglia. The net result of more than two decades of research,
      oral history interviews, and an extensive document archive, Williams has
      produced over a dozen full length broadcast quality documentaries on the
      air war, with more on the way, recorded hundreds of comprehensive oral
      history interviews, and collected more than fifty thousand World War Two
      photographs. Now the East Anglia Air War Collection is available on a new
      podcast and streaming service through the Air War Trail.
    </p>
  </div>

  <SlideShow slides={slides} client:visible />


  <!-- <div class="relative mx-auto mt-12 max-w-5xl">
    <div class="w-full">
      <SlideShow slides={slides} client:visible />
    </div>

    <div
      class="absolute -start-20 bottom-12 -z-1 size-48 rounded-lg bg-linear-to-b from-red-500 to-white p-px dark:to-neutral-900"
    >
      <div class="size-48 rounded-lg bg-white dark:bg-stone-900"></div>
    </div>

    <div
      class="absolute -end-20 -top-10 -z-1 size-48 rounded-full bg-linear-to-t from-indigo-400 to-blue-600 p-px"
    >
      <div class="size-48 rounded-full bg-white dark:bg-stone-900"></div>
    </div>
  </div> -->
</div>
