---
import { SlideShow } from "@/components/partials/SlideShow";

import Img1 from "@/assets/static/IMG_8276-topaz-denoise-sharpen-lighting.jpg";
import Img2 from "@/assets/static/IMG_8381-topaz-upscale-5000w.jpg";
import Img3 from "@/assets/static/IMG_8397-topaz-face-upscale-5000w.jpg";

// Define slides array here
const slides = [
  {
    title: "Image Title 1",
    description: "This is an image description",
    image: Img1.src,
    alt: "Image alt tag",
  },
  {
    title: "Image Title 2",
    description: "This is an image description",
    image: Img2.src,
    alt: "Image alt tag",
  },
  {
    title: "Image Title 3",
    description: "This is an image description",
    image: Img3.src,
    alt: "Image alt tag",
  },
];
---

<!-- Hero -->
<div class="relative overflow-hidden">
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="block text-3xl font-bold sm:text-4xl md:text-5xl">
        What is the <span class="text-blue-600">Airwar Trail</span>
      </h1>
      <p class="mt-3">
        The podcast, documentaries, interviews, and images will bring their
        voices alive in an up close and personal way. These are their stories,
        when freedom stood in the balance and a generation of the free made a
        difference in the world.
      </p>
    </div>

    <div class="relative mx-auto mt-10 max-w-5xl">
      <div class="bg-primary w-full rounded-lg">
        <SlideShow slides={slides} client:visible />
      </div>

      <div
        class="absolute -start-20 bottom-12 -z-1 size-48 rounded-lg bg-linear-to-b from-orange-500 to-white p-px dark:to-neutral-900"
      >
        <div class="size-48 rounded-lg bg-white dark:bg-neutral-900"></div>
      </div>

      <div
        class="absolute -end-20 -top-12 -z-1 size-48 rounded-full bg-linear-to-t from-blue-600 to-cyan-400 p-px"
      >
        <div class="size-48 rounded-full bg-white dark:bg-neutral-900"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->
