---
import { SquareMenu, CircleX } from "lucide-react";
import { Button } from "@/components/ui/button";
import type { ActiveSession } from "@/types";
import { AuthButtons } from "@/components/partials/AuthButtons";
import { ThemeToggle } from "@/components/partials/ThemeToggle";
import { House } from "@lucide/astro";

interface Props {
  sessionData: ActiveSession | null;
}

const { sessionData } = Astro.props;

interface NavItem {
  title: string;
  url: string;
}

const navItems: Array<NavItem> = [
  { title: "Episodes", url: "/episodes" },
  { title: "About", url: "/about" },
  { title: "Contact", url: "/contact" },
];
---

<header
  class="bg-secondary sticky inset-x-0 top-0 z-50 flex w-full flex-wrap py-6 lg:flex-nowrap lg:justify-start"
>
  <nav
    class="relative mx-auto flex w-full max-w-screen-xl basis-full flex-wrap items-center px-4 md:px-6 lg:grid lg:grid-cols-12 lg:px-8"
  >
    <div class="flex items-center lg:col-span-3">
      {/* Logo */}
      <a
        class="bg-muted-foreground inline-block flex-none rounded-xl p-4 text-xl font-semibold focus:opacity-80 focus:outline-hidden"
        href="/"
        aria-label="Airwar Trail Logo"
      >
        <House class="size-8" />
      </a>

      <div class="ms-1 sm:ms-2"></div>
    </div>

    {
      /* Container for buttons on Login, Sign Up, Theme Toggle, and Mobile menu */
    }
    <div
      class="ms-auto flex items-center gap-x-1 py-1 lg:order-3 lg:col-span-3 lg:gap-x-2 lg:ps-6"
    >
      {/* Login and Sign Up buttons */}
      <AuthButtons sessionData={sessionData} client:load />

      {/* Theme Toggle for dark/light mode */}
      <ThemeToggle client:load />

      <div class="lg:hidden">
        <Button
          type="button"
          className="hs-collapse-toggle flex size-9.5 items-center justify-center"
          id="hs-navbar-hcail-collapse"
          aria-expanded="false"
          aria-controls="hs-navbar-hcail"
          aria-label="Toggle navigation"
          data-hs-collapse="#hs-navbar-hcail"
        >
          <SquareMenu className="hs-collapse-open:hidden size-4 shrink-0" />
          <CircleX className="hs-collapse-open:block hidden size-4 shrink-0" />
          <span class="sr-only">Toggle navigation</span>
        </Button>
      </div>
    </div>

    {/* Collapse */}
    <div
      id="hs-navbar-hcail"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 lg:order-2 lg:col-span-6 lg:block lg:w-auto lg:basis-auto"
      aria-labelledby="hs-navbar-hcail-collapse"
    >
      {/* Menu Items */}
      <ul
        class="mt-5 flex flex-col gap-x-0 gap-y-4 lg:mt-0 lg:flex-row lg:items-center lg:justify-center lg:gap-x-7 lg:gap-y-0"
      >
        {
          navItems.map(({ title, url }) => (
            <li>
              <a
                class="text-md flex items-center justify-start py-4 font-semibold text-nowrap lg:justify-center"
                href={url}
              >
                <span class="text-white">{title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
