---
import { PlaylistLibrary } from "@/components/playlist/PlaylistLibrary";
import { Breadcrumb, BreadcrumbItem, BreadcrumbLink, BreadcrumbList, BreadcrumbSeparator } from "@/components/ui/breadcrumb";
import BaseLayout from "@/layouts/BaseLayout.astro";

const videoLibraryId = import.meta.env.AWT_VIDEO_LIBRARY_ID;
const pageTitle = "Film Series | Air War Trail";
const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "https://www.airwartrail.com/streaming/film-series/",
  url: "https://www.airwartrail.com/streaming/film-series/",
  name: "Film Series | Air War Trail",
  description:
    "In 2002 Military Historian and Producer/Director Vernon L. Williams established the East Anglia Air War Project with a mission to document the American air war against the German empire in the ETO.",
  isPartOf: {
    "@type": "WebSite",
    url: "https://www.airwartrail.com/",
    name: "Air War Trail",
    description:
      "The documentary films, interviews, and images bring the voices alive from those who experienced World War II in an up close and personal way. The mission of Air War Trail is to bring you their stories, when freedom stood in the balance and a generation of the free made a difference in the world.",
  },
  inLanguage: "en-US",
};
---

<BaseLayout title={pageTitle} structuredData={structuredData}>
  <div class="container mx-auto">
    <Breadcrumb className="mb-8">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href="/streaming">Streaming Library</BreadcrumbLink>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <h1 class="text-center text-3xl font-bold">
      Film Series
    </h1>
    <p class="mb-8 text-center text-lg font-semibold">View our curated collection of films by playlists.</p>
    <PlaylistLibrary client:load libraryId={videoLibraryId} />
  </div>
</BaseLayout>
