---
import "@/styles/global.css";
import { ClientRouter, fade } from "astro:transitions";
import { siteMeta } from "@/lib/siteData";
import Navbar from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer";
import BreakpointIndicator from "@/components/sections/BreakpointIndicator.astro";
import { Toaster } from "@/components/ui/sonner";
import { AstroFont } from "astro-font";
import { join } from "path";

// Get the session data from Astro session storage
const sessionData = await Astro.session?.get("session");

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
  externalScript?: boolean;
  scriptUrl?: string;
}

const {
  title = siteMeta.title,
  meta,
  structuredData,
  externalScript,
  scriptUrl,
} = Astro.props;
const umamiId = import.meta.env.UMAMI_ID;
---

<!doctype html>
<html lang="en" class="scrollbar-hide lenis lenis-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={siteMeta.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <AstroFont
      config={[
        {
          preload: true,
          display: "swap",
          name: "Reddit Sans",
          fallback: "sans-serif",
          src: [
            {
              style: "normal",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "RedditSans-VariableFont_wght.woff2",
              ),
            },
            {
              style: "italic",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "RedditSans-Italic-VariableFont_wght.woff2",
              ),
            },
          ],
        },
      ]}
    />

    <!-- Script to handle dark mode sets localstorage to save preference and checks the devices preference -->
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };

      const theme = getThemePreference();
      const isDark =
        theme === "dark" ||
        (theme === "system" &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      document.documentElement.classList.toggle("dark", isDark);
      if (typeof localStorage !== "undefined") {
        localStorage.setItem("theme", theme);
      }
    </script>
    <!--Import Lenis smooth scroll script -->
    <script>
      import Lenis from "lenis";
      const lenis = new Lenis();
      function raf(time: number): void {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
    </script>
    <!-- Enable View Transitions -->
    <ClientRouter fallback="swap" />
    <script>
      // Optimize Preline initialization
      document.addEventListener("astro:page-load", async () => {
        // Only initialize Preline if there are elements that need it
        if (document.querySelector("[data-hs-collapse]")) {
          const preline = await import("preline/dist/preline.js");
          preline.HSStaticMethods.autoInit();
        }
      });
    </script>
    <!-- Umami Analytics script tag -->
    <script
      is:inline
      defer
      src="https://umami.cobaltweb.tech/script.js"
      data-website-id={umamiId}></script>
  </head>

  <body class="bg-background">
    <Navbar sessionData={sessionData} />
    <main
      class="mx-auto min-h-[75svh] max-w-screen-xl px-4 sm:px-6 lg:px-8"
      transition:animate="fade"
    >
      <slot />
    </main>
    <Footer client:visible />
    <BreakpointIndicator />
    <Toaster position="top-right" client:load />
    <!-- Import Preline UI with View Transition support -->
    <script>
      document.addEventListener("astro:page-load", async () => {
        // Only initialize Preline if there are elements that need it
        if (document.querySelector("[data-hs-collapse]")) {
          const preline = await import("preline/dist/preline.js");
          preline.HSStaticMethods.autoInit();
        }
      });
    </script>
  </body>
</html>
